[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Werner
	email = guilhermeqwerner@gmail.com
[core]
	longpaths = true
	fileMode = false
[init]
	defaultBranch = "main"
